form {
  font-family: $body-font-family;
  font-size: 1em;
}

input[type=text],
input[type=email],
input.field,
textarea {
  border: 1px solid $gray-light;
  padding: .5em;
  width: 100%;
  &:focus {
    border-color: $black;
    outline: none;
  }
}

input[type=submit] {
  @include border-radius(none);
  @include transition(background-color, 0.3s);
  background-color: $gray-lighter;
  border: 1px solid $gray-light;
  font-family: $header-font-family;
  font-size: 1em;
  padding: .5em 1em;
  &:hover, &:focus {
    background-color: lighten($gray-lighter, 2%)
  }
}