body {
  font-family: $body-font-family;
  line-height: 1.2em;
}

h1, h2, h3, h4 {
  font-family: $header-font-family;
  font-weight: 200;
  line-height: 1.25em;
  margin-bottom: .5em;
}

h1 {
  font-size: $h1-font-size;
}
h2 {
  font-size: $h2-font-size;
}
h3 {
  font-size: $h3-font-size;
}
h4 {
  font-size: $h4-font-size;
}

ol, ul,
p, code, pre,
section {
  margin-bottom: .75em;
}

ul {
  li {
    list-style: outside disc;
    margin: 0 0 0 1.1em;
  }
}
ol {
  li {
    list-style-type: decimal;
    margin: 0 0 0 1.41em;
  }
}

a, a:link, a:visited {
  @include single-transition(all, 0.3s);
  border-bottom: 1px dotted transparentize($primary-color, 0.6);
  color: $primary-color;
  text-decoration: none;
  @include respond-to($small) {
  }
}
a:hover, a:focus, a:active {
  border-bottom: 1px dotted $primary-color;
  color: lighten($primary-color, 5%);
  text-decoration: none;
}

img,
object,
embed,
textarea {
  max-width: 100%;
}

dt {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: .5em;
  margin-top: .5em;
}
dd {
  margin-bottom: 1em;
  padding-left: 2em;
}