body {
  font-family: $body-font-family;
  line-height: 1.2em;
  padding: 2em;
}

h1, h2, h3, h4 {
  line-height: 1.25em;
  margin-bottom: .5em;
}

h1 {
  font-size: $h1-font-size;
}
h2 {
  font-size: $h2-font-size;
}
h3 {
  font-size: $h3-font-size;
}
h4 {
  font-size: $h4-font-size;
}

article {
  margin-bottom: 1.5em;
}

ol, ul,
p, code, pre,
section {
  margin-bottom: .75em;
}

ul {
  li {
    list-style: outside disc;
    margin: 0 0 0 1.1em;
  }
}
ol {
  li {
    list-style-type: decimal;
    margin: 0 0 0 1.41em;
  }
}

a, a:link, a:visited {
  color: $primary-color;
}

img,
object,
embed,
textarea {
  max-width: 100%;
}