.page-header {
  @extend %section-layout;
  text-align: center;
  @include respond-to($small) {
    margin-top: 5em;
    text-align: left;

    &::after {
      background: transparent url(../images/portrait-1-500-2.jpg) top right no-repeat;
      content: "";
      display: block;
      height: 500px;
      position: absolute;
      top: 1em;
      right: 0;
      width: 100%;
      z-index: -1;
    }
  }
  // Title / logo
  .logo {
    font-family: $logo-font-family;
    margin-top: .5em;
    .design {
      font-size: 1.75em;
    }
    .by {
      font-size: 1em;
      // margin-left: -.5em;
      position: relative;
      top: .25em;
    }
    .marlene {
      display: block;
      font-size: 2.5em;
      margin-left: .1em;
      position: relative;
      top: -0.1em;
    }
    @include respond-to($small) {
      margin-top: 0;
    }
  }
}