.page-header {
  @extend %section-layout;
  text-align: center;
  @include respond-to($small) {
    margin-top: 5em;
    text-align: left;
  }
  // Title / logo
  .logo {
    font-family: $logo-font-family;
    margin-top: .5em;
    .design {
      font-size: 1.75em;
    }
    .by {
      font-size: 1em;
      // margin-left: -.5em;
      position: relative;
      top: .25em;
    }
    .marlene {
      display: block;
      font-size: 2.5em;
      margin-left: .1em;
      position: relative;
      top: -0.1em;
    }
    @include respond-to($small) {
      margin-top: 0;
    }
  }
}