.wufoo {
  li {
    list-style: none;
    margin: 0 0 .5em 0;
  }
  label {
    &.desc {
      display: block;
    }
  }
  .name {
    span {
      &.name-first,
      &.name-last {
        label {
          color: $gray-light;
          font-style: italic;
          margin-bottom: 1em;
        }
      }
      @include respond-to($small) {
        &.name-first,
        &.name-last {
          float: left;
          margin-bottom: .5em;
          width: 48%;
        }
        &.name-first {
          margin-right: 2%;
        }
        &.name-last {
          margin-left: 2%;
        }
      }
    }
  }
  .email {
    clear: both;
  }
}