@font-face {
  font-family: 'Freebooter Script Reg';
  src: url('../fonts/freebooterscript_regular_macroman/freebooterscript-webfont.eot');
  src: url('../fonts/freebooterscript_regular_macroman/freebooterscript-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/freebooterscript_regular_macroman/freebooterscript-webfont.woff') format('woff'),
       url('../fonts/freebooterscript_regular_macroman/freebooterscript-webfont.ttf') format('truetype'),
       url('../fonts/freebooterscript_regular_macroman/freebooterscript-webfont.svg#freebooter_script_-_altsRg') format('svg');
  font-weight: normal;
  font-style: normal;
}